<?xml version="1.0"?>
<ruleset name="Project Rules">
    <file>admin.php</file>
    <file>auto-post.php</file>
    <file>gpt.php</file>
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />
        <exclude name="Squiz.Commenting.FunctionComment.Missing" />
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamTag" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamName" />
		<exclude name="Generic.Files.EndFileNewline.NotFound" />
        <exclude name="Generic.Commenting.DocComment.LongNotCapital" />
    </rule>
</ruleset>
